*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 90%;
}
header{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu a {
    text-decoration: none;
    margin: 5px;
    color: rgb(68, 24, 103);
}
.button{
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: rgb(68, 24, 103);
    border-radius: 10px;
}
.button a {
    color: white;
}

.section-1{
    display: flex;
    height: 50vh;
}
.section-1 img{
    width: 50%;
}
.right-side h1{
    font-size: 80px;
    margin-top: 60px;
    color: rgb(68, 24, 103);
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(68, 24, 103);
    width: 200px;
    height: 50px;
}
.start a {
    text-decoration: none;
    color: white;
}
p a {
    text-decoration: none;
}

footer {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px 0;
}
footer a{
    margin-top: 30px;
    text-decoration: none;
}
.discover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(68, 24, 103);
    color: white;
}
.pictures{
    margin-top: 50px;
}
.pictures img {
    width: 33%;
    height: 150px;
    margin-top: 20px;
}